.main{width: 350px;height: 40px;font-size: 13px; font-family: "微软雅黑";margin-left:38px;margin-top: -40px;}
.main select{width: 130px; }
/*
本代码由js代码网收集并编辑整理;
尊重他人劳动成果;
转载请保留js代码网链接 - http://www.jsdaima.com
*/